{% extends "base.html" %}
{% block title %}Ensaladas{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/view_ensaladas.css')}}">
{% endblock %}
{% block content %}
{% if mensaje %}
<h2>{{ mensaje }}</h2>
{% endif %}
<div class="content">
<div class="cards">
    {% for ensalada in ensaladas %}
  <div class="card">
    <h3>{{ ensalada.nombre }}</h3>
    <p><strong>Peso:</strong> {{ ensalada.peso }} g</p>
    <p><strong>Precio:</strong> ${{ ensalada.precio }}</p>
    <p><strong>Ingredientes:</strong> {{ ensalada.ingredientes }}</p>
    <div class="buttons-div">
      <form action="{{ url_for("edit_ensalada", id=ensalada.id) }}">
        <button class="buttons" type="submit"><span class="button-content">Editar</span></button>
      </form>
      <form action="{{ url_for("delete_ensaladas", id=ensalada.id) }}" method="post" onsubmit="return confirm('¿Seguro que quieres eliminar la ensalada {{ ensalada.nombre }}?');">
        <button class="buttons" type="submit"><span class="button-content">Eliminar</span></button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
</div>
<footer>
  <form action="{{ url_for("create_ensaladas") }}">
    <button class="button">Crear</button>
  </form>
</footer>
{% endblock content %}